*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Roboto Slab';
  color: #090446; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 85%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 100%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

/*
font-family: 'Roboto Slab';
font-family: 'Dosis';
*/
a {
  text-decoration: none;
  outline: none; }

ul {
  list-style: none; }

.header {
  grid-column: info-start / info-end;
  grid-row: logo-start / logo-end;
  display: flex;
  align-items: center; }
  .header__img {
    margin-right: .8rem;
    height: 7rem; }
  .header__title {
    font-size: 3.9rem;
    font-family: 'Dosis'; }
  @media only screen and (max-width: 52.5em) {
    .header {
      grid-column: auto;
      justify-content: center; } }

.info {
  grid-column: info-start / info-end;
  grid-row: text-start / text-end; }
  .info__title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem; }
  .info__text {
    font-size: 1.9rem; }
  @media only screen and (max-width: 52.5em) {
    .info {
      grid-column: auto;
      text-align: center; }
      .info__container {
        margin: 0 4rem; } }

.smartphone {
  grid-column: smartphone-start / smartphone-end;
  grid-row: logo-start / footer-end;
  background-image: url("../img/smartphone.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 36rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: [left-start] 4rem [left-end column-start] 28.5rem [column-end right-start] 2.6rem [right-end];
  grid-template-rows: [top-start] 9.6rem [top-end header-start] 9rem [header-end body-start] 26rem [body-end footer-start] 13rem [footer-end bottom-start] 12.5rem [bottom-end]; }
  .smartphone__option--active {
    display: block; }
  .smartphone__option--deactive {
    display: none; }
  .smartphone__header {
    grid-column: column-start / column-end;
    grid-row: header-start / header-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
  .smartphone__links {
    display: flex;
    align-items: flex-end; }
    .smartphone__links p {
      display: inline-block;
      margin: 0 1rem; }
  .smartphone__item a {
    position: relative; }
  .smartphone__item a:link,
  .smartphone__item a:visited {
    top: 0;
    color: #F71735;
    transition: top .2s ease; }
  .smartphone__item a:hover {
    top: -0.4rem; }
  .smartphone__item a:active {
    top: -0.2rem; }
  .smartphone__link {
    text-decoration: none;
    transition: all .2s ease; }
    .smartphone__link--active {
      text-decoration: underline; }
  .smartphone__title {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 1rem; }
  .smartphone__body {
    grid-column: column-start / column-end;
    grid-row: body-start / body-end; }
  .smartphone__footer {
    grid-column: column-start / column-end;
    grid-row: footer-start / footer-end; }
  .smartphone__donate {
    text-align: center; }
    .smartphone__donate a {
      position: relative; }
    .smartphone__donate a:link,
    .smartphone__donate a:visited {
      top: 0;
      color: #F71735;
      transition: top .2s ease; }
    .smartphone__donate a:hover {
      top: -0.4rem; }
    .smartphone__donate a:active {
      top: -0.2rem; }
  .smartphone__ad {
    text-align: center; }
  .smartphone__p {
    margin-bottom: 1.2rem;
    text-align: justify;
    padding-right: .6rem; }
  @media only screen and (max-width: 52.5em) {
    .smartphone {
      grid-column: auto;
      grid-row: smartphone-start / smartphone-end;
      justify-content: center; } }

.footer {
  grid-column: info-start / info-end;
  grid-row: footer-start / footer-end; }
  .footer__text {
    font-size: 1.4rem; }
    .footer__text a {
      position: relative; }
    .footer__text a:link,
    .footer__text a:visited {
      top: 0;
      color: #090446;
      transition: top .2s ease; }
    .footer__text a:hover {
      top: -0.4rem; }
    .footer__text a:active {
      top: -0.2rem; }
  .footer__active {
    text-decoration: underline; }
  @media only screen and (max-width: 52.5em) {
    .footer {
      grid-column: auto;
      text-align: center; } }

.form {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-columns: 1fr;
  position: relative; }
  .form__btn {
    padding: .6rem;
    border-radius: 50%;
    background-color: #FEB95F;
    position: absolute;
    right: .2rem;
    box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: margin .2s ease; }
    .form__btn--1 {
      top: 1.9rem; }
    .form__btn--2 {
      top: 7.6rem; }
    .form__btn--3 {
      top: 13.3rem; }
    .form__btn:hover {
      margin-top: -0.4rem; }
    .form__btn:active {
      margin-top: -0.1rem; }
  .form__icon {
    fill: #F4F1DE;
    height: 2.1rem;
    width: 2.1rem;
    z-index: -1;
    pointer-events: none;
    transition: all .5s ease; }
    .form__icon--blue {
      fill: #0F7173; }
  .form__input {
    font-size: 1.4rem;
    padding-left: .5rem; }
    .form__input--red {
      background-color: #F71735; }
  .form__donation {
    width: 52%;
    margin: 0 auto; }

.container {
  z-index: 2;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: [top-start] 5rem [top-end logo-start] min-content [logo-end gap-start] 3rem [gap-end text-start] 52vh [text-end footer-start] 2fr [footer-end];
  grid-template-columns: [left-start] 1fr [left-end info-start] 3fr [info-end gap-start] 8rem [gap-end smartphone-start] 36rem [smartphone-end right-start] 1fr [right-end];
  grid-gap: 12px;
  color: #F4F1DE; }
  @media only screen and (min-width: 87.5em) {
    .container {
      grid-template-rows: [top-start] 5rem [top-end logo-start] min-content [logo-end gap-start] 3rem [gap-end text-start] 40vh [text-end footer-start] 2fr [footer-end]; } }
  @media only screen and (min-width: 100em) {
    .container {
      grid-template-rows: [top-start] 5rem [top-end logo-start] min-content [logo-end gap-start] 3rem [gap-end text-start] 52vh [text-end footer-start] 2fr [footer-end]; } }
  @media only screen and (max-width: 52.5em) {
    .container {
      grid-template-rows: [top-start] 3rem [top-end logo-start] min-content [logo-end text-start] 3fr [text-end smartphone-start] 70rem [smartphone-end footer-start] 1fr [footer-end];
      grid-template-columns: 1fr;
      grid-gap: 24px; } }

body {
  background-color: #F71735; }

.background-container {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0F7173;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 70vh); }
  @media only screen and (min-width: 87.5em) {
    .background-container {
      clip-path: polygon(0 0, 100% 0, 100% 68%, 0 50vh); } }
  @media only screen and (min-width: 100em) {
    .background-container {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 60vh); } }
