// COLORS 

$blue: #0F7173;
$white: #F4F1DE;
$black: #090446;
$yellow: #FEB95F;
$red: #F71735;

// VERTICAL RHYTHM
$s-gap: 12px;
$m-gap: 24px;
$g-gap: 36px;
$xg-gap: 48px;

// RESPONSIVE BREAKPOINTS WIDTH
$huge: 100em; //1600px
$almost-huge: 87.5em; //1400px
$largest: 75em; //1200px
$large: 52.5em; //840px
$small: 37.5em; //600px
