.footer {

    grid-column: info-start / info-end;
    grid-row: footer-start / footer-end;

    // background-color: blue;

    &__text {
        @include animatedlink($black);
        font-size: 1.4rem;

    }

    @media only screen and (max-width: $large) {
        grid-column: auto;
        text-align: center;
    }
}