.smartphone {

    grid-column: smartphone-start / smartphone-end;
    grid-row: logo-start / footer-end;

    background-image: url('../../img/smartphone.png');
    background-repeat: no-repeat;
    background-position: top center;
    // background-color: fuchsia;
    display: grid;

    grid-template-columns: 
        [left-start] 3rem [left-end 
        column-start] 30.5rem [column-end 
        right-start] 2.6rem [right-end];
    grid-template-rows: 
        [top-start] 9.6rem [top-end 
        header-start] 1fr [header-end 
        body-start] 2fr [body-end 
        footer-start] 1fr [footer-end
        bottom-start] 12.5rem [bottom-end];

    &__number {
        display: none;
    }

    &__header {
        grid-column: column-start / column-end;
        grid-row: header-start / header-end;
    }

    &__body {
        grid-column: column-start / column-end;
        grid-row: body-start / body-end;
    }

    &__footer {
        grid-column: column-start / column-end;
        grid-row: footer-start / footer-end;
    }


    // @media only screen and (max-width: $largest) {
    //     grid-column: column-start 7 / column-end 11;
    // }

    @media only screen and (max-width: $large) {
        grid-column: auto;
        grid-row: smartphone-start / smartphone-end;
        justify-content: center;

    }
}