*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1em = 10px;
    font-family: 'Roboto Slab';
    color: $black;

    @media only screen and (min-width: $almost-huge) {
        font-size: 85%;
    }

    @media only screen and (min-width: $huge) {
        font-size: 100%;
    }

    @media only screen and (max-width: $small) {
        font-size: 50%;
    }

}

/*
font-family: 'Roboto Slab';
font-family: 'Dosis';
*/

a {
    text-decoration: none;
    outline: none;
}


ul {
    list-style: none;
}
